{% extends 'layouts/base.html' %}
{#############################################################################################################}

{% block title %}{{ evento.nombre }}{% endblock title %}

{#############################################################################################################}

{% block content %}
<ul class="list-2">
        <li><b>Evento:</b> {{ evento }}</li>
        <li><b>Lugar:</b> {{ evento.lugar }}</li>
        <li><b>Fecha:</b> {{ evento.fecha }}</li>
        <li><b>Contacto relacionado:</b> {{ evento.contacto_relacionado }}</li>
</ul>
<div>
        <a href="{% url 'editar_evento' id=evento.id %}"><button class="crear-btn">Editar</button>
        <a href="{% url 'borrar_evento' id=evento.id %}"><button class="borrar-btn">Borrar</button>
</div>
{% endblock content %}