{% extends './layouts/base.html' %}
{########################################################################################################################}

{% block title %}Inicio{% endblock title %}

{########################################################################################################################}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static './css/main.css' %}">
{% endblock styles %}

{########################################################################################################################}

{% block content %}
    <h1>Bienvenido a tu gestor personal :D</h1>
{% endblock content %}